.ioplaylistContainer {
    width: 90%;
    height:320px;
    border: 1px solid black;
    margin: 0 auto;
}

.addButtonIoPlaylist {
    width: 90% !important;
    position: relative !important;
    display: block !important;
    margin: 0 auto !important;
    top: 10px !important;
}

.ioPlayListTitle {
    width: 90%;
    margin: 0 auto;
}