.modal-content-container {
    display: block;
    margin: 0 auto;
    top: 20px;
    position: relative;
}
.app-bar {
    position: relative !important;
 }
 .title {
     margin-left: 2px;
     flex: 1;
 }