/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin:0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.screenshots-container {
  display: flex;
}
#screen-recorder > div > canvas {
  margin: 0 !important;
}

.loading-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}



.buttons-container {
  position: relative;
  bottom:10px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width:225px;
  height: 100px;
}
.recoreder-control-button {
  margin: 5px;
}

#vnc-view-container {
  position: relative;
}

.guide-label-record {
  color: #5090f3;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px dotted #0400ff;
  width: 290px;
}

.modal-verifaction-buttons-controls {
  display: flex;
  position: relative;
  top: 16px;
}

.video-container {
}
.yes-button { 
  position: absolute;
  right: 0px;
}
.modal-content-container {
  display: block;
  margin: 0 auto;
  top: 20px;
  position: relative;
}

#screen-recorder > div {
  background: transparent !important;
}

.add-test-floating-btn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
}

.screen-setMaxTimeout-container {
  height: 300px;
  overflow: auto;
}

.test-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  margin-right: 80px;
}

.tests-menu-container { 
  position: relative;
  width: 60%;
}

.play-button-container {
  position: absolute;
  right: 0;
}

.record-modal-save-btn-container {
    position: relative;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}