.modal-content-container {
    display: block;
    margin: 0 auto;
    top: 20px;
    position: relative;
    width: 100%;
}
.test-name-container {
    position: relative;
}

.pick-action-combobox-container {
    position: relative;
}
.done-cancel-btns {
    position: relative;
}