.modal-content-container {
    display: block;
    margin: 0 auto;
    top: 20px;
    position: relative;
}
.test-name-container {
    position: relative;
}

.pick-action-combobox-container {
    position: relative;
}
.done-cancel-btns {
    position: relative;
}

.recoreder-control-button {
    margin: 5px;
}
.live-snapshot-controls {
    position: relative;
}

.tags-editor-container {
    position: relative;
    height: 20%;
    overflow: auto;

}