.tests-menu-container {
  position: relative;
  width: 80%;
}
.test-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  margin-right: 80px;
}
.test-name-container {
  position: relative;
}
.test-status-container {
  position: relative;
}
.test-due-date-container {
  position: relative;
}
.play-button-container {
  position: relative;
}
.add-test-floating-btn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
}

.root {
  flex-grow: 1;
  background-color: white;
  height:100vh;
  color:white;
}

.app-bar {
  position: relative !important;
  backgroundColor: #232c39;
  color:white;
}
.title {
   margin-left: 2px;
   flex: 1;
}